* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0px;
  background-image: url(https://images.unsplash.com/photo-1522173096622-763cc9d35a3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: 100vw;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  display: inline-block;
  margin: 1em;
}
main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #366718;
}
form div {
  margin: 1em;
  display: inline-block;
}

allNewAlbums {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

singleAlbum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

Album {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
