.Album {
  display: flex;
  flex-direction: column;
  margin: 35px 10px;
  border: 2px solid black;
  border-radius: 100px 100px 10px 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 2px 2px rgb(105, 105, 105);
  transition: transform 0.2s; /* Animation */
}

.Album:hover {
  transform: scale(1.05);
}

img {
  width: 250px;
  height: auto;
}

.Album a {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
