.allNewAlbums button,
.singleAlbum button {
  font-size: 1.1em;
  width: 85px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  transition: transform 0.2s; /* Animation */
}

.allNewAlbums button img,
.singleAlbum button img {
  width: 100%;
  height: auto;
}

.allNewAlbums button:hover,
.singleAlbum button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#adminview button {
  width: 40%;
  background-color: rgba(196, 118, 118, 0.9);
  border: white;
  border-radius: 8px;
  margin: 20px;
  padding: 2%;
  font-size: larger;
  transition-duration: 0.4s;
}

#adminview button:hover,
#newAlbumButton button:hover,
#editAlbumButton button:hover {
  background-color: white;
  cursor: pointer;
}

#newAlbumButton button {
  width: 100px;
  height: 80px;
  background-color: rgba(196, 118, 118, 0.9);
  border: white;
  border-radius: 8px;
  margin: 10px;
  padding: 2%;
  justify-content: center;
  font-weight: bolder;
}

#editAlbumButton button {
  width: 60px;
  height: 50px;
  background-color: rgba(196, 118, 118, 0.9);
  border: white;
  border-radius: 8px;
  margin: 10px;
  padding: 2%;
  justify-content: center;
}

#deleteAlbumButton button {
  background-color: rgb(63, 62, 62);
  color: white;
  margin-left: 2;
}
