#navbar-container {
  background-color: rgba(196, 118, 118, 0.9);
  color: white;
  padding: 0px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  position: fixed;
  margin: 0px;
  z-index: 10;
}

#navbar-container h1 {
  display: flex;
}

#navbar-container nav {
  display: flex;
}

#navbar-container a {
  color: white;
  text-decoration: none;
}

#navbar-container nav a {
  font-size: 1.1em;
}

#navbar-container img {
  height: 35px;
  width: auto;
  margin-right: 10px;
}
