.singleAlbum {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  /* background-image: url('/background.png'); */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.singleAlbum img {
  width: 400px;
  height: auto;
  border-radius: 5px;
}

.singleAlbum div {
  margin-left: 20px;
  width: 100%;
}
